.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;
  border: 0.05em solid $mainLightBlue;

  &--orange {
    background-color: $mainOrange;
    border: 0.05em solid $mainLightOrange;
  }

  &--large {
    font-size: 1.25rem;
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.3rem;
    }
  }
}
